<body class="top_page_body">
<div id="container" class="jpn_version visitor">

<div id="inner_container">

    <header role="banner">
        <div id="header_container">
            <div id="header">

                <div id="inner_header">

                    <div id="header_top" class="fix_center clearfix">
                        <div id="copy" class="header_top_800">
アミティエのオンラインショップ<br />
シックな色遣いとシンプルなデザインのアクセサリーと手作りキットをお届けします<br />
<br />
<br />

                        </div>

                        <div id="header_font_setting">
                            <div class="font_setting">
                                <span class="set_font_title">文字サイズ<span class="colon">:</span></span>
                                <span class="set_font_normal"></span><span class="set_font_large"></span>
                            </div>
                        </div>



                    </div>


                    <div id="header_middle" class="fix_center clearfix">

                        <div id="shoplogo" itemscope="itemscope" itemtype="http://schema.org/Organization">
                            <a itemprop="url" href="http://amitie-beads.ocnk.net">
                                <img itemprop="logo" src="/1.jpg" width="200" height="40" alt="accessories boutique amitie" />
                            </a>
                        </div>






                        <div id="search" itemscope="itemscope" itemtype="http://schema.org/WebSite">
                            <meta itemprop="url" content="http://amitie-beads.ocnk.net" />
                            <form class="search_form" method="get" action="http://amitie-beads.ocnk.net/product-list" role="search" itemprop="potentialAction" itemscope="itemscope" itemtype="http://schema.org/SearchAction">
                                <meta itemprop="target" content="http://amitie-beads.ocnk.net/product-list/?keyword={keyword}" />
                                <input type="search" class="largesize searchform" name="keyword" value="" placeholder="商品検索" itemprop="query-input" />
                                <span class="global_btn"><input type="submit" class="searchinput btn_size_small btn_color_common" name="Submit" value="検索" /></span>
                            </form>
                        </div>


                    </div>


                    <div id="header_bottom" class="fix_center clearfix">
                        <div id="carttop">
                            <div class="shopping_cart_button has_cart_popup" data-empty-text="">
                                <div class="cartbtn">
                                    <a href="http://amitie-beads.ocnk.net/cart">
                                        <span class="cartquantity">0</span>
                                        <span class="cartbtn_text">カートの中身</span>
                                    </a>
                                </div>
                            </div>
                        </div>


                        <div class="signin guestmember">
                            <div class="signin_box">
                                <ul>
                                    <li class="signin_top">
                                        <a href="https://amitie-beads.ocnk.net/member-login" class="secure_link">ログイン</a>
                                    </li>
                                    <li class="register_top">
                                        <a href="https://amitie-beads.ocnk.net/register" class="secure_link">新規登録はこちら</a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                    </div>


                </div>



                <nav role="navigation">

                    <div id="header_navigation">
                        <div id="globalnavi" class="clearfix" data-drilldown="off">
                            <ul class="fix_center clearfix pre_load_nav dropdown">
                                <li class="header_nav h_home nav_on posleft">
                                    <a href="http://amitie-beads.ocnk.net/" class="nav_link"><span class="nav_box"><img src="http://amitie-beads.ocnk.net/res/layout008/img/navi_home_bg_x2.gif" width="45" height="45" alt="ホーム" /></span></a>
                                </li>
                                <li class="header_nav h_category">
                                    <div class="header_category">
                                        <a href="javascript:void(0);" class="nav_link"><span class="nav_box">商品カテゴリ一覧</span></a>
                                    </div>
                                    <ul class="sub_menu">
                                        <li class="all_items">
                                            <div class="sub_menu_button">
                                                <a href="http://amitie-beads.ocnk.net/product-list" class="item_list_link">全商品</a>
                                            </div>
                                        </li>
                                        <li class="h_maincategory11">
                                            <div class="sub_menu_button">
                                                <a href="http://amitie-beads.ocnk.net/product-list/11" class="item_list_link">完成品</a>
                                            </div>
                                        </li>
                                        <li class="h_maincategory1">
                                            <div class="sub_menu_button">
                                                <a href="http://amitie-beads.ocnk.net/product-list/1" class="item_list_link">necklace</a>
                                            </div>
                                        </li>
                                        <li class="h_maincategory8">
                                            <div class="sub_menu_button">
                                                <a href="http://amitie-beads.ocnk.net/product-list/8" class="item_list_link">ring</a>
                                            </div>
                                        </li>
                                        <li class="h_maincategory2">
                                            <div class="sub_menu_button">
                                                <a href="http://amitie-beads.ocnk.net/product-list/2" class="item_list_link">bracelet</a>
                                            </div>
                                        </li>
                                        <li class="h_maincategory3">
                                            <div class="sub_menu_button">
                                                <a href="http://amitie-beads.ocnk.net/product-list/3" class="item_list_link">earring&amp;pierce</a>
                                            </div>
                                        </li>
                                        <li class="h_maincategory4">
                                            <div class="sub_menu_button">
                                                <a href="http://amitie-beads.ocnk.net/product-list/4" class="item_list_link">brooch</a>
                                            </div>
                                        </li>
                                        <li class="h_maincategory5">
                                            <div class="sub_menu_button">
                                                <a href="http://amitie-beads.ocnk.net/product-list/5" class="item_list_link">strap&amp;bag charm</a>
                                            </div>
                                        </li>
                                        <li class="h_maincategory6">
                                            <div class="sub_menu_button">
                                                <a href="http://amitie-beads.ocnk.net/product-list/6" class="item_list_link">metal（金具）</a>
                                            </div>
                                        </li>
                                        <li class="h_maincategory9">
                                            <div class="sub_menu_button">
                                                <a href="http://amitie-beads.ocnk.net/product-list/9" class="item_list_link">書籍</a>
                                            </div>
                                        </li>
                                        <li class="h_maincategory14 posbottom">
                                            <div class="sub_menu_button">
                                                <a href="http://amitie-beads.ocnk.net/product-list/14" class="item_list_link">ギフト用ペーパーバッグ（無料）</a>
                                            </div>
                                        </li>
                                    </ul>
                                </li>
                                <li class="header_nav h_group">
                                    <div class="header_group">
                                        <a href="javascript:void(0);" class="nav_link"><span class="nav_box">PIC UP ITEM</span></a>
                                    </div>
                                    <ul class="sub_menu">
                                        <li class="h_group1 posbottom">
                                            <a href="http://amitie-beads.ocnk.net/product-group/1" class="item_list_link">Autumn Colors</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="header_nav h_profile">
                                    <a href="http://amitie-beads.ocnk.net/profile" class="nav_link"><span class="nav_box">PROFILE</span></a>
                                </li>
                                <li class="header_nav h_diary">
                                    <a href="http://amitie-beads.ocnk.net/diary" class="nav_link"><span class="nav_box">COORDINATE  DIARY</span></a>
                                </li>
                                <li class="header_nav h_mailmagazine">
                                    <a href="https://amitie-beads.ocnk.net/mail" class="nav_link secure_link"><span class="nav_box">メールマガジン</span></a>
                                </li>
                                <li class="header_nav h_help">
                                    <a href="http://amitie-beads.ocnk.net/help" class="nav_link"><span class="nav_box">ご利用案内</span></a>
                                </li>
                                <li class="header_nav h_legal posright">
                                    <a href="http://amitie-beads.ocnk.net/info" class="nav_link"><span class="nav_box">特定商取引法表示</span></a>
                                </li>
                            </ul>
                        </div>
                    </div>

                </nav>


            </div>
        </div>

    </header>



    <div id="photo" class="standard_slide">

        <div class="top_image_slide fix_center">
            <div class="swipe_list" data-current="current" data-adjustment="min" data-autoplay="on" data-cols="1" data-padding="0" data-duration="2000" data-interval="5000" data-position="on" data-pointer=".menuItem" data-fade-in-fade-out="on" data-async="on">
                <div class="list_item_table">
                    <div class="list_item_row clearfix">
                        <div class="list_item_cell slide top_picture_1">
                            <span class="item_image_box">
                                <img src="http://amitie-beads.ocnk.net/data/amitie-beads/image/high.quality/20170616_75e3ae.jpg" width="768" height="768" alt="" />
                            </span>
                        </div>
                        <div class="list_item_cell slide top_picture_2">
                            <span class="item_image_box">
                                <img src="http://amitie-beads.ocnk.net/data/amitie-beads/image/high.quality/20170524_332247.jpg" width="2000" height="2000" alt="" />
                            </span>
                        </div>
                        <div class="list_item_cell slide top_picture_3 loading_slide">
                            <span class="item_image_box">
                                <img src="http://amitie-beads.ocnk.net/data/amitie-beads/_/696d6167652f686967682e7175616c6974792f32303137303532345f3366323433312e6a7067003230300000740066.jpg" width="400" height="400" alt="" data-src="http://amitie-beads.ocnk.net/data/amitie-beads/image/high.quality/20170524_3f2431.jpg" />
                            </span>
                        </div>
                        <div class="list_item_cell slide top_picture_4 loading_slide">
                            <span class="item_image_box">
                                <img src="http://amitie-beads.ocnk.net/data/amitie-beads/_/696d6167652f686967682e7175616c6974792f32303137303631365f3764616133312e6a7067003230300000740066.jpg" width="2000" height="2000" alt="" data-src="http://amitie-beads.ocnk.net/data/amitie-beads/image/high.quality/20170616_7daa31.jpg" />
                            </span>
                        </div>
                        <div class="list_item_cell slide top_picture_5 loading_slide">
                            <span class="item_image_box">
                                <img src="http://amitie-beads.ocnk.net/data/amitie-beads/_/696d6167652f686967682e7175616c6974792f32303137303430355f3136323138302e6a7067003230300000740066.jpg" width="400" height="400" alt="" data-src="http://amitie-beads.ocnk.net/data/amitie-beads/image/high.quality/20170405_162180.jpg" />
                            </span>
                        </div>
                        <div class="list_item_cell slide top_picture_6 loading_slide">
                            <span class="item_image_box">
                                <img src="http://amitie-beads.ocnk.net/data/amitie-beads/_/696d6167652f686967682e7175616c6974792f32303137303532345f3561353836342e6a7067003230300000740066.jpg" width="400" height="400" alt="" data-src="http://amitie-beads.ocnk.net/data/amitie-beads/image/high.quality/20170524_5a5864.jpg" />
                            </span>
                        </div>
                        <div class="list_item_cell slide top_picture_7 loading_slide">
                            <span class="item_image_box">
                                <img src="http://amitie-beads.ocnk.net/data/amitie-beads/_/696d6167652f686967682e7175616c6974792f32303137303631365f3761616262392e6a7067003230300000740066.jpg" width="1024" height="1024" alt="" data-src="http://amitie-beads.ocnk.net/data/amitie-beads/image/high.quality/20170616_7aabb9.jpg" />
                            </span>
                        </div>
                        <div class="list_item_cell slide top_picture_8 loading_slide">
                            <span class="item_image_box">
                                <img src="http://amitie-beads.ocnk.net/data/amitie-beads/_/696d6167652f686967682e7175616c6974792f32303137303430355f3834633136392e6a7067003230300000740066.jpg" width="400" height="400" alt="" data-src="http://amitie-beads.ocnk.net/data/amitie-beads/image/high.quality/20170405_84c169.jpg" />
                            </span>
                        </div>
                        <div class="list_item_cell slide top_picture_9 loading_slide">
                            <span class="item_image_box">
                                <img src="http://amitie-beads.ocnk.net/data/amitie-beads/_/696d6167652f686967682e7175616c6974792f32303137303430355f3733613338312e6a7067003230300000740066.jpg" width="400" height="400" alt="" data-src="http://amitie-beads.ocnk.net/data/amitie-beads/image/high.quality/20170405_73a381.jpg" />
                            </span>
                        </div>
                        <div class="list_item_cell slide top_picture_10 loading_slide">
                            <span class="item_image_box">
                                <img src="http://amitie-beads.ocnk.net/data/amitie-beads/_/696d6167652f686967682e7175616c6974792f32303137303430355f3462343639362e6a7067003230300000740066.jpg" width="400" height="400" alt="" data-src="http://amitie-beads.ocnk.net/data/amitie-beads/image/high.quality/20170405_4b4696.jpg" />
                            </span>
                        </div>
                    </div>
                    <div class="menu">
                        <ul>

<li class="menuItem"><a href="javascript:void(0);"><img src="http://amitie-beads.ocnk.net/data/amitie-beads/_/696d6167652f686967682e7175616c6974792f32303137303631365f3735653361652e6a7067003230300000740066.jpg" width="100" height="100" alt="slide 1" /></a></li><li class="menuItem"><a href="javascript:void(0);"><img src="http://amitie-beads.ocnk.net/data/amitie-beads/_/696d6167652f686967682e7175616c6974792f32303137303532345f3333323234372e6a7067003230300000740066.jpg" width="100" height="100" alt="slide 2" /></a></li><li class="menuItem"><a href="javascript:void(0);"><img src="http://amitie-beads.ocnk.net/data/amitie-beads/_/696d6167652f686967682e7175616c6974792f32303137303532345f3366323433312e6a7067003230300000740066.jpg" width="100" height="100" alt="slide 3" /></a></li><li class="menuItem"><a href="javascript:void(0);"><img src="http://amitie-beads.ocnk.net/data/amitie-beads/_/696d6167652f686967682e7175616c6974792f32303137303631365f3764616133312e6a7067003230300000740066.jpg" width="100" height="100" alt="slide 4" /></a></li><li class="menuItem"><a href="javascript:void(0);"><img src="http://amitie-beads.ocnk.net/data/amitie-beads/_/696d6167652f686967682e7175616c6974792f32303137303430355f3136323138302e6a7067003230300000740066.jpg" width="100" height="100" alt="slide 5" /></a></li><li class="menuItem"><a href="javascript:void(0);"><img src="http://amitie-beads.ocnk.net/data/amitie-beads/_/696d6167652f686967682e7175616c6974792f32303137303532345f3561353836342e6a7067003230300000740066.jpg" width="100" height="100" alt="slide 6" /></a></li><li class="menuItem"><a href="javascript:void(0);"><img src="http://amitie-beads.ocnk.net/data/amitie-beads/_/696d6167652f686967682e7175616c6974792f32303137303631365f3761616262392e6a7067003230300000740066.jpg" width="100" height="100" alt="slide 7" /></a></li><li class="menuItem"><a href="javascript:void(0);"><img src="http://amitie-beads.ocnk.net/data/amitie-beads/_/696d6167652f686967682e7175616c6974792f32303137303430355f3834633136392e6a7067003230300000740066.jpg" width="100" height="100" alt="slide 8" /></a></li><li class="menuItem"><a href="javascript:void(0);"><img src="http://amitie-beads.ocnk.net/data/amitie-beads/_/696d6167652f686967682e7175616c6974792f32303137303430355f3733613338312e6a7067003230300000740066.jpg" width="100" height="100" alt="slide 9" /></a></li><li class="menuItem"><a href="javascript:void(0);"><img src="http://amitie-beads.ocnk.net/data/amitie-beads/_/696d6167652f686967682e7175616c6974792f32303137303430355f3462343639362e6a7067003230300000740066.jpg" width="100" height="100" alt="slide 10" /></a></li> 

                        </ul>
                        <div class="pointer_box">
                            <span class="pointer_prev"></span>
                            <span class="pointer_next"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

     <div id="contents">
        <div id="inner_contents" class="fix_center clearfix layout_r">



            <div id="leftcol" class="side_col" role="complementary">
<div class="ajax_calendar" data-area="side" data-title="カレンダー"></div>
                <div class="side_box globalnavi_side side_freepage_list">
                    <ul class="side_contents navi_list">
                        <li class="side_navi freepage6">
                            <a href="http://amitie-beads.ocnk.net/page/6">デザインについて</a>
                        </li>
                        <li class="side_navi freepage7">
                            <a href="http://amitie-beads.ocnk.net/page/7">ラッピングについて</a>
                        </li>
                        <li class="side_navi freepage8">
                            <a href="http://amitie-beads.ocnk.net/page/8">アクセサリーのお手入れについて</a>
                        </li>
                        <li class="side_navi freepage15">
                            <a href="http://amitie-beads.ocnk.net/page/15">キットの製作について</a>
                        </li>
                        <li class="side_navi freepage9">
                            <a href="http://amitie-beads.ocnk.net/page/9">完成品の修理について</a>
                        </li>
                        <li class="side_navi freepage25">
                            <a href="http://amitie-beads.ocnk.net/page/25">テクニカルノート</a>
                        </li>
                        <li class="side_navi freepage30 posbottom">
                            <a href="http://amitie-beads.ocnk.net/page/30">テクニカル -movie-</a>
                        </li>
                    </ul>
                </div>



                <section>
                    <div class="side_box category">
                        <div class="section_title">
                            <h2>商品カテゴリ一覧</h2>
                        </div>
                        <ul class="side_contents category_list side_category_popup">

                            <li class="parent_category maincategory11">
                                <div class="maincategory">
                                    <a href="http://amitie-beads.ocnk.net/product-list/11" class="parentcategory_link categorylink11 item_list_link">完成品</a>
                                </div>
                            </li>
                            <li class="parent_category maincategory1">
                                <div class="maincategory">
                                    <a href="http://amitie-beads.ocnk.net/product-list/1" class="parentcategory_link categorylink1 item_list_link">necklace</a>
                                </div>
                            </li>
                            <li class="parent_category maincategory8">
                                <div class="maincategory">
                                    <a href="http://amitie-beads.ocnk.net/product-list/8" class="parentcategory_link categorylink8 item_list_link">ring</a>
                                </div>
                            </li>
                            <li class="parent_category maincategory2">
                                <div class="maincategory">
                                    <a href="http://amitie-beads.ocnk.net/product-list/2" class="parentcategory_link categorylink2 item_list_link">bracelet</a>
                                </div>
                            </li>
                            <li class="parent_category maincategory3">
                                <div class="maincategory">
                                    <a href="http://amitie-beads.ocnk.net/product-list/3" class="parentcategory_link categorylink3 item_list_link">earring&amp;pierce</a>
                                </div>
                            </li>
                            <li class="parent_category maincategory4">
                                <div class="maincategory">
                                    <a href="http://amitie-beads.ocnk.net/product-list/4" class="parentcategory_link categorylink4 item_list_link">brooch</a>
                                </div>
                            </li>
                            <li class="parent_category maincategory5">
                                <div class="maincategory">
                                    <a href="http://amitie-beads.ocnk.net/product-list/5" class="parentcategory_link categorylink5 item_list_link">strap&amp;bag charm</a>
                                </div>
                            </li>
                            <li class="parent_category maincategory6">
                                <div class="maincategory">
                                    <a href="http://amitie-beads.ocnk.net/product-list/6" class="parentcategory_link categorylink6 item_list_link">metal（金具）</a>
                                </div>
                            </li>
                            <li class="parent_category maincategory9">
                                <div class="maincategory">
                                    <a href="http://amitie-beads.ocnk.net/product-list/9" class="parentcategory_link categorylink9 item_list_link">書籍</a>
                                </div>
                            </li>
                            <li class="parent_category maincategory14 posbottom">
                                <div class="maincategory">
                                    <a href="http://amitie-beads.ocnk.net/product-list/14" class="parentcategory_link categorylink14 item_list_link">ギフト用ペーパーバッグ（無料）</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </section>



                <div class="side_box globalnavi_side side_menu_list">
                    <ul class="side_contents navi_list">
                        <li class="side_navi s_legal">
                            <a href="http://amitie-beads.ocnk.net/info">特定商取引法表示</a>
                        </li>
                        <li class="side_navi s_help">
                            <a href="http://amitie-beads.ocnk.net/help">ご利用案内</a>
                        </li>
                        <li class="side_navi s_mailmagazine">
                            <a href="https://amitie-beads.ocnk.net/mail" class="secure_link">メールマガジン</a>
                        </li>
                        <li class="side_navi s_inquiry posbottom">
                            <a href="https://amitie-beads.ocnk.net/contact" class="secure_link">お問い合せ</a>
                        </li>
                    </ul>
                </div>



                <div class="side_box freearea_box" data-free="c4">
<div class="books">
<h3>掲載誌</h3>
<div class="book_4">
<a href="http://www.amazon.co.jp/Bead-Art-ビーズアート-2012年秋号-vol-3/dp/4904286243/ref=sr_1_5?s=books&ie=UTF8&qid=1413040429&sr=1-5&keywords=bead+art" target="blank">
<img width="120" border="0" alt="掲載誌" src="http://amitie-beads.ocnk.net/data/amitie-beads/image/71bSM1ATl7L.jpg">
</a></div>
<h3>著書</h3>
<div class="book_1">
<a href="http://www.amazon.co.jp/ビーズで彩るアンティークスタイル-色と素材のミクスチュアマッチング、上品に魅せる創作コーディネート-マーブルブックス―デイリーメイド-及川-和恵/dp/412390131X/ref=sr_1_2?s=books&ie=UTF8&qid=1413116662&sr=1-2&keywords=及川%E3%80%80和恵" target="blank">
<img width="120" border="0" alt="書籍紹介1" src="http://amitie-beads.ocnk.net/data/amitie-beads/image/51NT3G5HQHL_1.jpg">
</a></div>
<div class="book_2">
<a href="http://www.amazon.co.jp/5つの願いを叶えるラッキービーズ―天然石で運を高めてハッピーに-及川-和恵/dp/4847014758/ref=sr_1_4?s=books&ie=UTF8&qid=1413116662&sr=1-4&keywords=及川%E3%80%80和恵" target="blank">
<img width="120" border="0" alt="書籍紹介2" src="http://amitie-beads.ocnk.net/data/amitie-beads/image/51CJZ2KXTXL_2.jpg">
</a></div>
<div class="book_3">
<a href="http://www.amazon.co.jp/ビーズコーディネイトブック―4つのスタイルで作るビーズアクセサリー-及川-和恵/dp/4847014545/ref=sr_1_1?s=books&ie=UTF8&qid=1413116662&sr=1-1&keywords=及川%E3%80%80和恵" target="blank">
<img width="120" border="0" alt="書籍紹介3" src="http://amitie-beads.ocnk.net/data/amitie-beads/image/4107ZGNXDVL_3.jpg">
</a></div>
</div>
                </div>


                <aside>
                    <div class="side_box side_banner">











                        <div class="banner_box ssl_banner">
                            <img src="http://amitie-beads.ocnk.net/res/layout008/img/all/ssl_x2.gif" alt="SSL" width="115" height="55" />
                        </div>

                    </div>
                </aside>



            </div>







            <div id="maincol3" role="main">
                <div id="main_container">
                <article>
                    <div class="main_box welcome">
                        <div class="section_title">
                            <h2>AMITIE  style</h2>
                        </div>
                        <div class="main_contents welcome_contents">
                            <div class="tarticle_data welcome_data">
                                <div class="welcome_inner_data clearfix">
                                    <div class="txt_article">
　　　　　　　　<br />
日常にさりげない彩りを添えてくれるアミティエのアクセサリー<br />
大人の女性らしさや品の良い佇まい、お洒落の楽しみと心地良さをキーワードに<br />
シックな色遣いとシンプルなデザインのアクセサリーをキットと完成品でお届けします<br />
<br />
　　　　　　　　　　　　　　　　　　　　Accessories Designer　　　及川　和恵<br />
<br />
<br />
　　　　　　　　　　　　
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>


