<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style>
    /* Remove the navbar's default rounded borders and increase the bottom margin */ 
    .navbar {
      margin-bottom: 50px;
      border-radius: 0;
    }
    
    /* Remove the jumbotron's default bottom margin */ 
     .jumbotron {
      margin-bottom: 0;
    }
   
    /* Add a gray background color and some padding to the footer */
    footer {
      background-color: #f2f2f2;
      padding: 25px;
    }
  </style>





    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8" />
    <title>シックなビーズアクセサリー「アミティエ」のオンラインショップ 。及川和恵デザインのキットと完成品をご紹介します。          </title>
    <meta name="keywords" content="ビーズアクセサリー,ビーズ,キット,アミティエ,及川和恵,通販,
" />
    <meta name="description" content="" />
    <link rel="alternate" type="application/rss+xml" title="RSS" href="http://amitie-beads.ocnk.net/rss/rss.php" />
    <link rel="alternate" media="only screen and (max-width: 640px)" href="http://amitie-beads.ocnk.net/phone/" />
    <link rel="canonical" href="http://amitie-beads.ocnk.net/" />

    <!--<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />-->
    <link href="/res/layout001/style/public/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <link href="http://amitie-beads.ocnk.net/res/layout001/style/common.css?1465885495" rel="stylesheet" type="text/css" media="all" />
    <link href="http://amitie-beads.ocnk.net/res/layout008/style/template.css?1402535647" rel="stylesheet" type="text/css" media="all" />
    <link href="http://amitie-beads.ocnk.net/res/layout001/style/jquery.fancybox.css" rel="stylesheet" type="text/css" media="all" />
    <link href="http://amitie-beads.ocnk.net/data/amitie-beads/pc/20141011191102907ad1.css?1413201125" rel="stylesheet" type="text/css" media="all" />



    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script>window.jQuery || document.write('<script src="http://amitie-beads.ocnk.net/res/layout008/js/jquery.js">');</script>
    <script src="http://amitie-beads.ocnk.net/res/layout008/js/pack/ocnk-min.js?1441333927"></script>




<meta name="google-site-verification" content="myAwBf_YtYFs43K4JNJ2aKGGTztg_3HMiU1n-0qnFJU" />
</head>
    <%= yield %>
  </body>
</html>
